__pycache__
.DS_Store
.vscode

diff_depth/
diff/
images/output_imgs/exp3
images/output_imgs/exp4
images/left_label
wandb/
model_output/
models/

custom_datasets/INSTSnowRoadDetection
augmented_dataset*

*.png
# *.jpg
*.log