__pycache__
.DS_Store
.vscode

diff_depth/
diff/
images/
images/
images/
wandb/
model_output/
model_tuning/
models/
models
models_pp/
datasets/
scripts/PowerPaint/
results/
depth_exps/
normals_exps/
custom_datasets/pothole_0
custom_datasets/pothole_0.json
tuning_exps/

custom_datasets/INSTSnowRoadDetection
augmented_dataset*

*.log